@import "/src/styles/extend";

#confirmation-modal {
    align-items: center;
    justify-content: center;

    .custom-modal-window {
        min-width: 650px;
        max-width: 700px;
        @include media-breakpoint-down(md) {
            min-width: 90vw;
        }
    }
}

.confirmation-window-content {
    padding: 20px;
    background-color: rgba($secondary, 0.05)
}

.confirmation-window-message {
    padding-bottom: 20px;
}

.confirmation-window-buttons {
    display: flex;
    justify-content: space-between;

    button {
        .fa-icon-wrapper, span {
            user-select: none;
            pointer-events: none;
        }
    }
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modal-window {
    position: relative;
    max-width: 90%;
    max-height: 90vh;
    margin: auto;
}